<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category    Gateway Payment
 * @package     Ifthenpay_Payment
 * @author      Ifthenpay
 * @copyright   Ifthenpay (https://www.ifthenpay.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_payment">
        <observer name="custom_admin_system_config_changed_section_payment" instance="Ifthenpay\Payment\Observer\ConfigSubmitObserver"/>
    </event>
    <event name="payment_method_assign_data">
        <observer name="ifthenpay_payment_gateway_data_assign" instance="Ifthenpay\Payment\Observer\DataAssignObserver" />
    </event>
</config>
